<div id="myCarousel" class="carousel slide __web-inspector-hide-shortcut__" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="assets/img/carousel/hinh1.jpg" height="512" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>5 anh em siêu nhân gao</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut accusantium obcaecati ab velit
                        dolore recusandae ipsum molestiae, sint quis impedit nostrum ratione officiis. Error ratione
                        voluptate sint id aspernatur! Suscipit?</p>
                    <p><a class="btn btn-lg btn-primary" href="/sanpham" role="button">Xem sản phẩm</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="assets/img/carousel/hinh2.jpg" height="512" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Siêu anh hùng Marvel</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, ipsa? Reprehenderit inventore
                        optio temporibus, hic esse debitis soluta quod distinctio ipsa molestias nemo sequi similique,
                        sed nostrum velit autem maxime.</p>
                    <p><a class="btn btn-lg btn-primary" href="/sanpham" role="button">Xem sản phẩm</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="assets/img/carousel/hinh3.jpg" height="512" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Người dơi</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde maxime, recusandae reiciendis nam
                        corporis maiores neque, doloremque perferendis molestias mollitia placeat beatae alias accusamus
                        porro qui fugit minima obcaecati aut.</p>
                    <p><a class="btn btn-lg btn-primary" href="/sanpham" role="button">Xem sản phẩm</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>