<div class="phi__content">
    <h2 style="text-align: center; margin-bottom: 2rem;">Những sản phẩm đặt hàng nhiều nhất</h2>
</div>

<!-- Thông tin 3 sản phẩm -->
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="assets/img/trangchu/hinh4.jpg" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab possimus iusto
                            voluptatem accusamus obcaecati quod doloribus, numquam maiores odio a labore sunt! Iusto
                            officiis fugiat obcaecati quibusdam. Saepe, possimus fuga.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/sanpham"><button type="button" class="btn btn-sm btn-outline-danger">Xem sản
                                        phẩm</button></a>
                            </div>
                            <small class="text-muted">99+ đánh giá</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="assets/img/trangchu/hinh5.jpg" data-holder-rendered="true"
                        style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius
                            facere provident magnam in. Suscipit, ullam voluptas aliquid possimus distinctio odit,
                            voluptates optio sapiente, repellendus fuga asperiores amet temporibus unde?</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/sanpham"><button type="button" class="btn btn-sm btn-outline-danger">Xem sản
                                        phẩm</button></a>
                            </div>
                            <small class="text-muted">99+ đánh giá</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" src="assets/img/trangchu/hinh6.jpg" data-holder-rendered="true"
                        style="height: 225px; width: 100%; display: block;">
                    <div class="card-body">
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium id,
                            consequuntur dolorum perspiciatis, fugiat dolor, repudiandae vitae consequatur iusto
                            expedita unde ab alias deleniti nobis illo tempore architecto hic dicta!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/sanpham"><button type="button" class="btn btn-sm btn-outline-danger">Xem sản
                                        phẩm</button></a>
                            </div>
                            <small class="text-muted">99+ đánh giá</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Chi tiết các sản phẩm -->
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">5 anh em siêu nhân gao<span class="text-danger"> Mãnh thú chính nghĩa</span>
            </h2>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae debitis minima et
                ratione, libero id. Maxime illo ad placeat aspernatur explicabo ratione suscipit consequuntur, ducimus
                corporis, quia, aperiam beatae!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                style="width: 500px; height: 500px;" src="assets/img/carousel/hinh1.jpg" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Siêu anh hùng Marvel<span class="text-danger"> Các chiến binh đến từ tương
                    lai</span>
            </h2>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure aspernatur facilis quisquam
                eius doloribus laudantium mollitia optio quae molestiae. Magni unde quidem odit corrupti quas, ipsum at
                vel necessitatibus deserunt.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="assets/img/carousel/hinh2.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Người Dơi<span class="text-danger"> Kỵ sĩ bóng đêm</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="assets/img/carousel/hinh3.jpg" data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>

<!-- Giao hàng -->

<div class="card text-center" style="margin-bottom: 2rem">
    <div class="card-body">
        <h5 class="card-title">Giao hàng trên toàn quốc</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum veniam necessitatibus quia
            eligendi. Velit reiciendis provident distinctio soluta. Voluptatibus, deleniti excepturi! Facilis sint
            itaque fugit quis enim architecto quisquam asperiores.</p>
    </div>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">TP Hồ Chí Minh</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Miễn phí</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Miễn phí giao hàng</li>
                    <li>Giao trong ngày</li>
                    <li>Bảo hành 3 tháng</li>
                    <li>Với hóa đơn trên 1.000.000VNĐ</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger">Đặt hàng ngay</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Hà Nội</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Miễn phí</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Miễn phí giao hàng</li>
                    <li>Giao trong ngày</li>
                    <li>Bảo hành 3 tháng</li>
                    <li>Với hóa đơn trên 1.000.000VNĐ</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger">Đặt hàng ngay</button>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Các tỉnh/thành khác</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Miễn phí</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Miễn phí giao hàng</li>
                    <li>Giao trong ngày</li>
                    <li>Bảo hành 3 tháng</li>
                    <li>Với hóa đơn trên 1.000.000VNĐ</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-danger">Đặt hàng ngay</button>
            </div>
        </div>
    </div>
</div>