<div class="row phi__row">
    <div class="col-md-4">
        <h3>Bài viết mới nhất</h3>
        <hr>
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="assets/img/gioithieu/hinh2.jpg"
                data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="#">Những sản phẩm bán chạy</a>
                </h3>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores quae
                    sit corrupti veniam, magnam quo non repellat debitis eaque ab perferendis quidem minus nostrum. Ut
                    qui id cum vero.</p>
                <div class="mb-1 text-muted">Hoàng Phi, Ngày 25 tháng 08</div>
            </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="assets/img/gioithieu/hinh3.jpg"
                data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="#">Thông tin chi tiết sản phẩm</a>
                </h3>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores quae
                    sit corrupti veniam, magnam quo non repellat debitis eaque ab perferendis quidem minus nostrum. Ut
                    qui id cum vero.</p>
                <div class="mb-1 text-muted">Hoàng Phi, Ngày 25 tháng 08</div>
            </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb"
                alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="assets/img/gioithieu/hinh4.jpg"
                data-holder-rendered="true">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="#">Kiểm tra hàng chính hãng</a>
                </h3>
                <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa maiores quae
                    sit corrupti veniam, magnam quo non repellat debitis eaque ab perferendis quidem minus nostrum. Ut
                    qui id cum vero.</p>
                <div class="mb-1 text-muted">Hoàng Phi, Ngày 25 tháng 08</div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h1>Nguyễn Võ Hoàng Phi</h1>
        <article class="blog-loop">
            <div class="blog-post row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#" class="blog-post-thumbnail" title="Giới thiệu sơ lược về shop đồ chơi trẻ em"
                        rel="nofollow">
                        <img src="assets/img/gioithieu/hinh1.jpg" alt="TRÒ CHUYỆN CÙNG HOÀNG PHI" width="400"
                            height="306">
                    </a>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12">
                    <h5 class="blog-post-title">
                        <a href="#" title="TRÒ CHUYỆN CÙNG HOÀNG PHI">TRÒ CHUYỆN CÙNG HOÀNG PHI</a>
                    </h5>
                    <div class="blog-post-meta">
                        <span class="author vcard">Người viết: Hoàng Phi </span>
                        <span class="date">
                            <time pubdate="" datetime="2020-11-23">26.08.2021</time>
                        </span>
                    </div>
                    <p class="entry-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi
                        saepe quis autem consequatur illo vitae adipisci officiis quidem molestias, nulla, aut error
                        magnam commodi harum et obcaecati culpa recusandae.</p>
                </div>
            </div>
        </article>

        <article class="blog-loop">
            <div class="blog-post row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#" class="blog-post-thumbnail" title="Giới thiệu sơ lược về shop đồ chơi trẻ em"
                        rel="nofollow">
                        <img src="assets/img/gioithieu/hinh2.jpg" alt="TRÒ CHUYỆN CÙNG HOÀNG PHI" width="400"
                            height="306">
                    </a>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12">
                    <h5 class="blog-post-title">
                        <a href="#" title="TRÒ CHUYỆN CÙNG HOÀNG PHI">ĐÁNH GIÁ SẢN PHẨM CỦA KHÁCH HÀNG</a>
                    </h5>
                    <div class="blog-post-meta">
                        <span class="author vcard">Người viết: Hoàng Phi </span>
                        <span class="date">
                            <time pubdate="" datetime="2020-11-23">26.08.2021</time>
                        </span>
                    </div>
                    <p class="entry-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi
                        saepe quis autem consequatur illo vitae adipisci officiis quidem molestias, nulla, aut error
                        magnam commodi harum et obcaecati culpa recusandae.</p>
                </div>
            </div>
        </article>

        <article class="blog-loop">
            <div class="blog-post row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#" class="blog-post-thumbnail" title="Giới thiệu sơ lược về shop đồ chơi trẻ em"
                        rel="nofollow">
                        <img src="assets/img/gioithieu/hinh3.jpg" alt="TRÒ CHUYỆN CÙNG HOÀNG PHI" width="400"
                            height="306">
                    </a>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12">
                    <h5 class="blog-post-title">
                        <a href="#" title="TRÒ CHUYỆN CÙNG HOÀNG PHI">CHÍNH SÁCH BẢO HÀNH CHÍNH HÃNG</a>
                    </h5>
                    <div class="blog-post-meta">
                        <span class="author vcard">Người viết: Hoàng Phi </span>
                        <span class="date">
                            <time pubdate="" datetime="2020-11-23">26.08.2021</time>
                        </span>
                    </div>
                    <p class="entry-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi
                        saepe quis autem consequatur illo vitae adipisci officiis quidem molestias, nulla, aut error
                        magnam commodi harum et obcaecati culpa recusandae.</p>
                </div>
            </div>
        </article>

        <article class="blog-loop">
            <div class="blog-post row">

                <div class="col-md-4 col-xs-12 col-sm-12">
                    <a href="#" class="blog-post-thumbnail" title="Giới thiệu sơ lược về shop đồ chơi trẻ em"
                        rel="nofollow">
                        <img src="assets/img/carousel/hinh3.jpg" alt="TRÒ CHUYỆN CÙNG HOÀNG PHI" width="400"
                            height="306">
                    </a>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12">
                    <h5 class="blog-post-title">
                        <a href="#" title="TRÒ CHUYỆN CÙNG HOÀNG PHI">MỤC TIÊU VƯƠN TẦM THẾ GIỚI</a>
                    </h5>
                    <div class="blog-post-meta">
                        <span class="author vcard">Người viết: Hoàng Phi </span>
                        <span class="date">
                            <time pubdate="" datetime="2020-11-23">26.08.2021</time>
                        </span>
                    </div>
                    <p class="entry-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi
                        saepe quis autem consequatur illo vitae adipisci officiis quidem molestias, nulla, aut error
                        magnam commodi harum et obcaecati culpa recusandae.</p>
                </div>
            </div>
        </article>
    </div>
</div>